# -----------------------------------------------------------------------------
# NestJS Backend Environment Variables
# -----------------------------------------------------------------------------

# --- Server ---
PORT=3000
NODE_ENV=development

# --- Database (PostgreSQL local) ---
DATABASE_URL="postgresql://postgres:password@localhost:5432/gestao_contratos?schema=public"

# --- Security (JWT) ---
# Você pode trocar isso no futuro usando o comando openssl rand -base64 32
JWT_SECRET="super_secret_jwt_key_for_local_dev_only"
JWT_EXPIRATION="1d"

# --- Redis (Cache & Filas) ---
REDIS_HOST="localhost"
REDIS_PORT=6379
# REDIS_URL="redis://localhost:6379"

# --- RabbitMQ (Mensageria) ---
RABBITMQ_URL="amqp://admin:password@localhost:5672"

# --- MinIO (S3 Storage) ---
S3_ENDPOINT="http://localhost:9000"
S3_BUCKET="lefer-saas-bucket"
S3_ACCESS_KEY="admin"
S3_SECRET_KEY="password"
S3_REGION="us-east-1" # Padrão para S3/MinIO

# --- Mailpit (SMTP Local) ---
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@pactum.local"

# --- Gotenberg (PDF Generation) ---
GOTENBERG_URL="http://localhost:3001"
