# --- Traefik / Domain Configuration ---
PROJECT_NAME=pactum_dev
FRONTEND_DOMAIN=dev.pactum.local
BACKEND_DOMAIN=dev-api.pactum.local

# --- Database ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=pactum_dev_db

# --- RabbitMQ ---
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=dev_mq_password

# --- MinIO ---
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=dev_minio_password
